{% extends "base.html" %}
{% load i18n %}

{% block title %}{% title_tag _("Third-Party Login Failure") %}{% endblock %}

{% block content %}
  <div class="py-12 mx-auto max-w-md">
    <h1 class="mb-6 text-2xl font-bold tracking-tight text-zinc-900 dark:text-zinc-100">
      {% translate "Third-Party Login Failure" %}
    </h1>
    <p class="text-sm text-zinc-600 dark:text-zinc-400">
      {% translate "An error occurred while attempting to login via your third-party account." %}
    </p>
  </div>
{% endblock content %}
