@layer messages {
    .message-error {
        background-color: var(--color-bg);
        border: 2px solid var(--color-error-600);
        color: var(--color-error-600);
    }

    .message-info {
        background-color: var(--color-bg);
        border: 2px solid var(--color-info-600);
        color: var(--color-info-600);
    }

    .message-success {
        background-color: var(--color-bg);
        border: 2px solid var(--color-success-600);
        color: var(--color-success-600);
    }

    .message-warning {
        background-color: var(--color-bg);
        border: 2px solid var(--color-warning-600);
        color: var(--color-warning-600);
    }

    @variant dark {
        .message-error {
            border-color: var(--color-error-400);
            color: var(--color-error-400);
        }

        .message-info {
            border-color: var(--color-info-400);
            color: var(--color-info-400);
        }

        .message-success {
            border-color: var(--color-success-400);
            color: var(--color-success-400);
        }

        .message-warning {
            border-color: var(--color-warning-400);
            color: var(--color-warning-400);
        }
    }
}
