{% extends "base.html" %}
{% load i18n %}

{% block title %}{% title_tag _("Set Password") %}{% endblock %}

{% block content %}
  <div class="py-12 mx-auto max-w-md">
    <h1 class="mb-6 text-2xl font-bold tracking-tight text-zinc-900 dark:text-zinc-100">
      {% translate "Set Password" %}
    </h1>
    <form method="post" action="{% url 'account_set_password' %}" class="space-y-4">
      {% csrf_token %}
      {{ redirect_field }}
      {{ form }}
      <div>
        <button type="submit" class="btn btn-primary">{% translate "Set Password" %}</button>
      </div>
    </form>
  </div>
{% endblock content %}
