{% load i18n static %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    {% block title %}{% title_tag %}{% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% meta_tags %}
    <link rel="manifest" href="{% url 'manifest' %}">
    <link rel="stylesheet" href="{% static 'app.css' %}" />
    {% block scripts %}
      <script src="{% static 'vendor/htmx-2.0.8.min.js' %}" defer></script>
      <script src="{% static 'vendor/alpine-3.15.2.min.js' %}" defer></script>
    {% endblock scripts %}
  </head>
  <body>
    <div
      id="hx-indicator"
      x-data="{ width: 0 }"
      x-init="
              setInterval(() => {
              if ($el.classList.contains('htmx-request')) {
              width = width + (Math.random() / 100) + 1;
              width = width > 30 ? -30 : width;
              } else {
              width = 0;
              }
              $el.style.width = width > 0 ? `${10 + width * 90}%` : '0px';
              }, 36);
             "
    ></div>
    {% include "messages.html" %}
    {% cookie_banner %}
    {% include "navbar.html" %}
    <main class="py-8 px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      {% block content %}
      {% endblock content %}
    </main>
    <script>
      if (typeof navigator.serviceWorker !== 'undefined') {
        navigator.serviceWorker.register('{% static "service-worker.js" %}')
      }
    </script>
  </body>
</html>
